<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página dedicada a la difusión de la cultura, la filosofía y el arte">
    <meta name="keywords" content="cursos atenea filosofia arte historia cultura clases">

  	<title>Blog</title>
  	
  	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  	<link rel="stylesheet" href="../assets/css/style.css">
  </head>
<body>
	<div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-xs-2">
          <img src="../assets/img/ateneaVector.jpg" alt="ateVec" width="50" height="100">
        </div>
        <div class="col-lg-10 col-xs-10"> 
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ATENEA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="podcasts.html">Podcasts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    
	<section class="titulo">
		<h1>BLOG</h1>
	</section>
	<section class="parrafo">
		<p>Este espacio será utilizado para subir las entradas del blog. Estén atentos para novedades.</p>
	</section>
	<footer>
			<img src="../assets/img/ateneaVector.jpg" alt="logo foo" width="50" height="100">
			<a href="https://www.gmail.com" target="blank"><img src="../assets/img/mail.jpg" alt="mail" width="50" height="50"></a>
			<a href="https://www.facebook.com" target="blank"><img src="../assets/img/face.png" alt="face" width="50" height="50"></a>
			<a href="https://www.instagram.com" target="blank"><img src="../assets/img/insta.png" alt="insta" width="50" height="50"></a>
			<a href="https://www.youtube.com" target="blank"><img src="../assets/img/youtube.png" alt="youtube" width="50" height="50"></a>
			<a href="contacto.html">CONTACTO</a>
		</footer>
		 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
   <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>