*{margin: 0;padding: 0;}
footer {
  background-color: lightblue; }

h1 {
  font-size: 55px; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 40px; } }

h1 {text-align: center;}

.slider{
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}